@use '../utils/' as *;

.filter {
  &__tag-list {
    max-width: 100%;
    display: flex;
    gap: rem(8px);
    flex-wrap: wrap;
    margin-bottom: rem(12px);
  }

  &__tag {
    display: inline-flex;
    align-items: center;
    gap: rem(8px);
    background-color: $clr-blue;
    padding: rem(4px) rem(8px);
    border-radius: rem(4px);
    color: $clr-white;
  }

  &__tag-close {
    cursor: pointer;
  }

  &__select-list {
    display: flex;
    gap: rem(12px);
    flex-wrap: wrap;
  }

  &__select {
    position: relative;
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
    width: 100%;
    border-radius: rem(6px);
    overflow: hidden;
    height: fit-content;

    @include respond(tab-port) {
      width: auto;
    }
  }

  &__select--ingredients {
    background-color: $clr-blue;
  }

  &__select--devices {
    background-color: $clr-green;
  }

  &__select--utensils {
    background-color: $clr-red;
  }

  &__input {
    // width: 100%;
    border: none;
    outline: none;
    padding: rem(12px);
    font-weight: $fw-bold;
    color: $clr-white;
    background-color: inherit;

    @include respond(tab-port) {
      width: auto;
    }
  }

  &__input::placeholder {
    color: $clr-white;
  }

  &__input:focus::placeholder {
    opacity: 0.5;
  }

  &__icon {
    font-size: rem(24px);
    color: $clr-white;
    right: rem(6px);
    top: rem(24px);
    padding-inline: rem(12px);
    transition: all 0.4s;
    cursor: pointer;
  }

  &__list {
    background-color: inherit;
    display: none;
    grid-template-columns: repeat(2, 1fr);
    row-gap: rem(4px);
    column-gap: rem(64px);
    padding: 0 rem(12px) rem(12px) rem(12px);
    color: $clr-white;

    @include respond(tab-port) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include respond(small-mobile) {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }
}

.icon-selected {
  transform: rotate(180deg);
}

.filter-open {
  display: grid;
}
