@use '../utils/' as *;

.filter {
  padding-block: rem(32px);

  &__tag-list {
    max-width: 100%;
    display: flex;
    gap: rem(8px);
    flex-wrap: wrap;
    margin-bottom: rem(12px);
  }

  &__tag {
    display: inline-flex;
    align-items: center;
    gap: rem(8px);
    background-color: $clr-blue;
    padding: rem(4px) rem(8px);
    border-radius: rem(4px);
    color: $clr-white;
  }

  &__tag-close {
    cursor: pointer;
  }

  &__select-list {
    display: flex;
    gap: rem(12px);
    flex-wrap: wrap;
  }

  &__select {
    position: relative;
    display: inline-block;
  }

  &__input {
    border: none;
    outline: none;
    background-color: red;
    padding: rem(12px);
    border-radius: rem(6px);
    font-weight: $fw-bold;
    color: $clr-white;
  }

  &__input--ingredients {
    background-color: $clr-blue;
  }
  &__input--devices {
    background-color: $clr-green;
  }
  &__input--utensils {
    background-color: $clr-red;
  }

  &__input::placeholder {
    color: $clr-white;
  }

  &__icon {
    font-size: rem(24px);
    color: $clr-white;
    position: absolute;
    right: rem(6px);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}
