@use '../utils/' as *;

.searchbar {
  &__form {
    position: relative;
  }

  &__input {
    width: 100%;
    padding: rem(12px);
    font-size: rem(16px);
    border-radius: rem(6px);
    border: none;
    outline: none;
    background-color: $clr-gray-200;

    &::placeholder {
      color: $clr-gray-400;
    }
    &:focus {
      outline: 2px solid $clr-gray-700;
    }

    @include respond(tab-port) {
      padding: rem(20px);
      font-size: rem(18px);
    }
  }

  &__button {
    position: absolute;
    right: rem(10px);
    top: 50%;
    transform: translateY(-50%);

    @include respond(small-mobile) {
      display: none;
    }
  }

  &__icon {
    font-size: rem(32px);
    cursor: pointer;
  }
}
